#article.blog
  @import blog

.block
  margin: 0
.container-block-plugin_container-block
  margin-top: 40px
.block-title
  font-family: 'Open Sans'
  font-variant: normal
  color: #006680
  border: none
  margin-bottom: 20px
  font-size: 20px 
.container-block-plugin_container-block
  .block
    margin: 0 20px
    max-width: 280px
    
.block-outer:first-child
  .container-block-plugin_container-block
    .display-content-block
      ul
        margin-top: -30px
      li
        padding-bottom: 30px
        background: url('images/tvlivre.png') no-repeat center top
        .title
          width: 150px
          height: 30px
          margin-left: 15px
          display: none
          a
            font-size: 12px
            line-height: 13px
            color: #000
            text-decoration: none 
        .lead
          padding-top: 17px
          iframe
            max-width: 230px
            max-height: 140px
            margin: 32px auto
            display: block
        .read_more
          margin-top: -25px
          margin-right: 20px
          text-align: right
    .article-block p
      max-width: 180px
      max-height: 160px
      margin: 50px auto 0 auto

.container-block-plugin_container-block
  .link-list-block
    a
      color: #fff
      border-radius: 0px
      height: 30px
      line-height: 30px
      background: #237d29
      &:hover
        background: #7bb17f
    .link-this-page
      background: #7bb17f
      border-color: #237d29
  .people-block, .communities-block
    ul
      min-width: 280px
      width: 280px
    .block-title
      color: #237d29
    .common-profile-list-block 
      li
        border-radius: 50px
        width: 50px
        height: 50px
        overflow: hidden
        border: 2px solid #237d29
      .vcard
        a
          height: 55px
          margin: -3px
          padding: 0
          background: #237d29
        &:hover 
          .menu-submenu-trigger
            display: none
          img
            opacity: 1
        img
          max-height: 55px
          max-width: 55px
          height: 55px
          width: 55px
          opacity: 0.7
        .fn
          display: none
  .communities-block
    .block-title
      color: #fdca01
    .common-profile-list-block
      li
        border: 2px solid #fdca01
      .vcard
        a
          background: #fdca01

.block-outer:nth-of-type(3)
  .container-block-plugin_container-block
    .display-content-block
      background: #fff
      border: 1px solid #ccc
      position: relative
      z-index: 2
      &:after
        z-index: -1
        position: absolute
        content: ""
        bottom: 15px
        right: 10px
        left: auto
        width: 50%
        top: 80%
        max-width: 300px
        background: #333
        -webkit-box-shadow: 0 15px 10px #333
        -moz-box-shadow: 0 15px 10px #333
        box-shadow: 0 15px 10px #333
        -webkit-transform: rotate(3deg)
        -moz-transform: rotate(3deg)
        -o-transform: rotate(3deg)
        -ms-transform: rotate(3deg)
        transform: rotate(3deg)
      .block-title
        background: #d8e7f0
        border-top: 3px solid #3a87b2
        padding: 10px
        overflow: hidden
        text-overflow: ellipsis
        white-space: pre
        margin: 0
        span
          color: #000
          font-size: 15px
      .block-inner-1
        background: #fff
      ul
        margin: 0
      li
        margin: 10px 0 0
        border-left: 5px solid #FFF
        padding: 5px
        &:hover
          border-left: 5px solid #99d5e3
        .title a
          color: #000
          text-decoration: none
          font-size: 13px
          font-weight: bold
    .article-block
      p
        margin: 0 0 10px 0 

