#agenda
  .profile-name-is-portal &
    display: none
  .agenda-calendar
    display: block
    width: 100%
  #events-of-the-day
    display: block
    width: 100%
    .event-date
      padding: 6px 5px 5px 16px
.profile-name-is-portal
  #agenda-title
    display: none
  .event-plugin_event-block
    display: none
  & .action-profile_design-index, & .action-events-events
    .event-plugin_event-block
      display: block
      .event .year
        display: block
