#theme-footer
  background: #3a87b2
  position: relative
  border: none
  font-family: 'Open Sans'
  width: 100%
  margin-bottom: 0

#footer-environment
  width: 1054px
  margin: auto
  
#footer-links
  background: url(images/bg-footer-flag.png) top left no-repeat
  width: 1054px
  margin: -13px auto
  ul
    list-style: none
    margin-top: 50px
  li
    display: inline-block
    
#slbr-footer, #conheca-footer, #colabore-footer, #compartilhe-footer, #apoio-footer
  ul
    list-style: none
  li
    display: list-item
  a
    color: #FFF
  h3
    color: #FFF
    
#slbr-footer
  width: 225px
  li
    float: left
    margin: 5px 7px
    
#slbr
  background: url(images/footer-title.png) 0 0 no-repeat
  width: 225px
  height: 50px
  display: block
  span
    display: none
    
#apoio-footer
  span
    display: none
    
#copyright
  height: 60px
  text-align: right
  clear: both
  padding-top: 30px
  padding-right: 10px
  color: #000
