#wrap-1
  .highlights-block
    width: 980px
    margin: 15px auto
    float: none
    height: 400px
    .highlights-border
      position: relative
    .highlights-container
      height: 400px
      a
        width: 980px
        height: 400px
        background-color: #086
    .highlights-label
      font-size: 15px
      font-weight: bold
      background: rgba(0,150,80,0.7)
      text-shadow: 0 0 6px rgb(0,150,80), 0 0 6px rgb(0,150,80)
    .highlights-block-pager
      z-index: 10
      position: absolute
      bottom: 50px
      right: 10px
      left: auto
      a
        width: 16px
        height: 16px
        display: inline-block
        line-height: 16px
        color: #888
        background: #000
        border-radius: 3px
        opacity: .4
      a.activeSlide
        opacity: .6
  .gallery-block
    background-color: #FFF
    padding-top: 30px
    .gallery-block-arrow
      width: 16px
    .gallery-block-prev
      background-image: url('images/gallery-prev.png')
    .gallery-block-next
      background-image: url('images/gallery-next.png')
    .gallery-block-container
      width: 96%

  #banner-home
    span
      display: none
    width: 864px
    margin: 10px auto

.main-content
  border: none
  box-shadow: none

.action-home-index #content h1, #content .main-block h1, #not-found h1, #access-denied h1
  font-size: 20px
  font-weight: bold
  color: #006680 
  font-variant: normal
  margin-bottom: 30px
  border: none

#highlighted-news
  .highlighted-news-item
    border: none
    height: 300px
    padding: 0
    background: #fff
  .post-1, .post-2, .post-3
    width: 260px
    float: left
    border: 1px solid #ccc
    margin: 0 20px
    position: relative
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset
    z-index: 2
    &:after, &:before
      content: ""
      position: absolute 
      z-index: -1
      -webkit-box-shadow: 0 0 20px rgba(0,0,0,0.8)
      -moz-box-shadow: 0 0 20px rgba(0,0,0,0.8)
      box-shadow: 0 0 20px rgba(0,0,0,0.8)
      top: 10px
      bottom: 10px
      left: 0
      right: 0
      -moz-border-radius: 100px / 10px
      border-radius: 100px / 10px
    &:after
      right: 10px 
      left: auto
      -webkit-transform: skew(8deg) rotate(3deg) 
      -moz-transform: skew(8deg) rotate(3deg)     
      -ms-transform: skew(8deg) rotate(3deg)     
      -o-transform: skew(8deg) rotate(3deg) 
      transform: skew(8deg) rotate(3deg)
  h2
    background: #FFd633
    margin: 0
    padding: 5px 5px 0 5px
    overflow: hidden
    white-space: pre
    text-overflow: ellipsis
  .post-title
    font-size: 16px
    color: #000
  .post-date
    display: block
    padding: 0 5px 5px 5px
    background: #FFd633
  .headline
    width: 250px
    height: 220px
    overflow: hidden
    padding: 0 5px
    p
      width: 100%
      display: block
      float: left
      text-indent: 10px
      text-align: justify
      overflow: hidden 
      &:first-child
        max-height: 156px
        overflow: hidden
        text-overflow: ellipsis
        margin: 0 
    img
      max-height: 150px
      margin: auto
      max-width: 250px
      float: none
      display: block
  .highlighted-news-read-more
    position: absolute
    bottom: 0px
    right: 10px

#portal-news
  display: none 

#content
  .event-plugin_event-block 
    .events 
      border: none
      li
        border: none
        margin-top: 5px
      a
        &:hover
          background: #d8e7f0
      .date.no-img
        background-color: #e8f1f6
      .month
        background: #80b1cd
        text-shadow: none
      .day
        border: 2px solid #80b1cd
