#friends
  top: auto
  right: 0
  left: 0
  background: #1CBA8E
  position: absolute
  ul
    list-style: none
    padding: 0
    float: left
    height: 30px
  li
    display: table-cell
    width: auto
    padding: 0
    a
      background: none
      color: #fff
      text-decoration: none
      border: none
      line-height: 30px
      padding: 0
      font-size: 14px
      &:hover
        background: #028863
      span
        padding: 0 24px

#external-links
  position: absolute
  left: 0
  right: 0
  top: 35px
  ul
    list-style: none
    padding: 0
  li
    display: table-cell
    padding-left: 10px
    width: 33px
  a
    border: none
    width: 33px
    height: 33px
    &:hover
      opacity: 0.8
  span
    display: none

#blogoosfero
  background: url("images/blogoosfero.png") no-repeat center center
  &:hover
    background: url("images/blogoosfero.png") no-repeat center center

#twitter
  background: url("images/twitter.png") no-repeat center center
  &:hover
    background: url("images/twitter.png") no-repeat center center

#diaspora
  background: url("images/diaspora.png") no-repeat center center
  &:hover
    background: url("images/diaspora.png") no-repeat center center

#gnu-social
  background: url("images/gnu-social.png") no-repeat center center
  &:hover
    background: url("images/gnu-social.png") no-repeat center center

#feed
  background: url("images/feed.png") no-repeat center center
  &:hover
    background: url("images/feed.png") no-repeat center center
