#theme-header
  height: 115px
  background: #03B282
  line-height: 50px
  right: 0
  left: 0
  z-index: 999
  position: relative

#top
  width: 980px
  margin: auto
  position: relative
  ul#top-menu
    list-style: none
    padding: 0px
    float: right
    margin-top: 66px
    border-top: 1px solid #FFF
    li
      display: table-cell
    a
      color: #FFF
      text-decoration: none
      text-transform: uppercase
      font-size: 1.2em
      display: block
      height: 60px
      &:hover
        span
          background: #028863
      &.link-this-page
        background: url('images/arrow-down.png') no-repeat center bottom
        color: #000
        span
          background: #FDCA01
    span
      background: none
      padding: 0 20px
      display: block
      height: 48px
    .menu-submenu-trigger
      display: none
      left: auto
      top: 0
      height: 48px
      background: none
      span
        display: none
