@font-face
  font-family: Orbitron
  src: url(fonts/orbitron/OrbitronLight.otf)

.supportbanner
  font-family: "Open Sans", "Liberation Sans", Arial, sans-serif
  background-image: url("images/supportbanner.png")
  background-repeat: no-repeat
  background-position: right top
  background-size: cover
  border-bottom: 1px solid #FFF
  padding: 10px 0px 0px
  .fisl17
    font-family: Orbitron !important
  .content
    color: #083744
    background-color: rgba(86, 204, 236, 0.7)
    font-size: 1.2em
    width: 75%
    .banner-title
      background-color: #18a2c8
      color: #FFF
      font-size: 1.5em
      font-weight: bold
      text-transform: uppercase
      padding: 5px 10px 5px 20px
      display: inline-block
    .banner-subtitle
      font-size: 1.4em
      padding-left: 20px
      display: inline-block
      .asl
        color: #020506
    p
      font-size: 1em
      padding-left: 20px
  .footer-links
    padding-left: 20px
    display: inline-block
    a
      color: transparent
      display: inline-block
      width: 150px
      height: 65px
      margin: 0px 5px
      background-repeat: no-repeat
      background-color: rgba(86, 204, 236, 0.5)
      &.logo-fisl17
        background-image: url("images/logo-fisl17.png")
      &.logo-asl
        background-image: url("images/logo-asl.png")
      &.iot-fisl
        background-image: url("images/iot-moreinfo.png")
        width: 430px
        height: 77px
  .theme-fisl14 &
    display: none
