@import ../base/style.css
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700)

=shadow($top, $left, $blur, $inset, $color)
  -webkit-box-shadow: $top $left $blur $inset $color
  -moz-box-shadow: $top $left $blur $inset $color
  box-shadow: $top $left $blur $inset $color

body
  font-family: 'Open Sans'

#link-go-content
  position: absolute
  top: -30px

#wrap-1
  width: auto
  background: #FFF

#wrap-2
  width: 980px
  margin: 20px auto 0 auto
  padding: 0 0 0
  border: none
  position: initial

#user
  right: 0
  height: 25px
  line-height: 25px
  padding: 0px
  z-index: 999
  top: 30px
  position: absolute
  text-transform: uppercase
  font-size: 0.9em
  #link_login
    margin-right: 15px
  form
    display: none
  a
    text-decoration: none
    strong
      color: #FFF
      font-weight: normal
    i
      display: none
  .or
    display: none

#site-title
  margin: 0
  background: url('images/logo-sl.png?v=2') no-repeat center center
  display: block
  width: 200px
  height: 89px
  top: 15px
  a
    width: 200px
    height: 89px
    top: auto
    left: auto
  span
    display: none

#navigation
  background: none
  position: relative
  top: 0
  right: 0
  height: 60px
  display: none
  ul
    list-style: none
  @import navigation

.action-home-index #navigation
  display: block

#navigation-end
  display: none

@import top-menu

.action-home-index .box-1
  margin: 0

.action-home-index .box-2
  display: none

#profile-header
  max-height: none

#banner-home
  display: none

.action-home-index #banner-home
  display: block

@import home-blocks
@import blocks


.action-home-index #content
  margin-top: 0px

#content
  margin: 0px auto auto auto
  width: 980px
  @import container
  @import article
  
@import events
@import footer
@import environment_notification_plugin
