<div id="footer-environment">
<div id="footer-links">
  <ul>
    <li><ul id="slbr-footer">
        <li><a href="http://softwarelivre.org" id="slbr" class="link-this-page"><span>Software Livre - Brasil</span></a></li>
        <li><a href="<%= environment.top_url %>/tv"><span>TV Software Livre</span></a></li>
        <li><a href="<%= environment.top_url %>/radio"><span>Rádio Software Livre</span></a></li>
        </ul></li>
    <li><ul id="conheca-footer"><h3>Conheça</h3>
        <li><a href="<%= environment.top_url %>/portal/quem-somos">Quem Somos</a></li>
        <li><a href="<%= environment.top_url %>/portal/termos-de-uso">Termos de Uso</a></li>
        <li><a href="<%= environment.top_url %>/doc">Documentação</a></li>
        <li><a href="<%= environment.top_url %>/contact/portal/new">Fale Conosco</a></li>
        </ul></li>
    <li><ul id="colabore-footer"><h3>Colabore</h3>
        <li><b><a href="<%= environment.top_url %>/myprofile/portal/cms/suggest_an_article">Sugerir um Artigo</a></b></li>
        <li><a href="<%= environment.top_url %>/portal/melhorias">Sugerir Melhorias</a></li>
        <li><a href="<%= environment.top_url %>/portal/bugs">Reportar um Bug</a></li>
        <li><a href="<%= environment.top_url %>/portal/desenvolvimento">Desenvolvimento</a></li>
        </ul></li>
    <li><ul id="compartilhe-footer"><h3>Compartilhe</h3>
        <li><b><!-- AddToAny BEGIN -->
        <a class="a2a_dd" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fsoftwarelivre.org&amp;linkname=SoftwareLivre.org">Compartilhar Isto!</a>
        <script type="text/javascript">
        var a2a_config = a2a_config || {};
        a2a_config.linkname = "SoftwareLivre.org";
        a2a_config.linkurl = "http://softwarelivre.org";
        a2a_config.onclick = 1;
        a2a_config.locale = "pt-BR";
        a2a_config.num_services = 6;
        a2a_config.prioritize = ["identi_ca", "twitter", "facebook", "google_buzz", "digg", "email"]
        </script>
        <script type="text/javascript" src="http://static.addtoany.com/menu/page.js"></script>
<!-- AddToAny END --></b></li>
        <li><a href="<%= environment.top_url %>/portal/eventos">Novos Eventos</a></li>
        <li><a href="<%= environment.top_url %>/portal/portfolio">Portfólio Livre</a></li>
        <li><a href="<%= environment.top_url %>/portal/divulgue">Páginas Amigas</a></li>
        </ul></li>
    <li><ul id="apoio-footer"><h3>Apoio</h3>
        <li> <a href="<%= environment.top_url %>/portal/apoio"><img src="/portal/anuncios/apoio.png" style="width:204px"><span>Apoio</span></img></a></li>
        </ul></li>
</div><!-- end id="footer-links" -->

<div id="copyright">
  © Copyleft 2015 -<a id="link-asl" href="http://associacao.softwarelivre.org/" title="Associação SoftwareLivre.org">ASL</a> - Alguns direitos reservados, exceto quando especificado em contrário e nos conteúdos replicados de outras fontes.
  <p id="noosfero-license">Este site utiliza o software livre <a href="http://www.noosfero.org/" id="link-noosfero">Noosfero</a>, licenciado sob a licença <a href="http://www.gnu.org/licenses/agpl.html">GNU Affero General Public License</a>, versão 3 ou superior.  </p>
</div><!-- end id="copyright" -->
</div>

<script type="text/javascript">
  jQuery(function($) {
    $(".highlights-block").insertAfter("#theme-header");
    $(".action-home-index #block-695148").insertBefore("#block-666540");
    $(".action-environment_design-index #block-695148").insertBefore("#block-666540");
    $(".action-home-index #block-695454").insertAfter("#block-666540");
    $(".action-environment_design-index #block-695454").insertAfter("#block-666540");
    $("#site-title").prependTo("#top");
    $("#user").insertAfter("#site-title");
  });
</script>
