<!-- div class='supportbanner'>
  <div class='content'>
    <div class='banner-title'>Campanha de doação 2016</div>
    <div class='banner-subtitle'>Ajude a <span class='asl'>ASL.Org</span> a realizar o <span class='fisl17'>FISL17</span>!</div>
    <p>Ajude a Associação Software Livre.Org a continuar seu trabalho de 12 anos em prol do desenvolvimento e disseminação do Software Livre. Faça uma doação e ganhe um ingresso cortesia para o <span class='fisl17'>FISL17</span> e uma camiseta oficial do evento.</p>
  </div>
  <div class='footer-links'>
    <a class='logo-fisl17' href='http://fisl.org.br' target='_blank'><span>fisl17</span></a>
    <a class='logo-asl' href='http://asl.org' target='_blank'><span>ASL.org</span></a>
    <a class='iot-fisl' href='http://segue.fisl17.softwarelivre.org' target='_blank'><span>Contribua para o fisl17</span></a>
  </div>
</div -->
