<div id="top">
  <ul id="top-menu">
    <li><%= link_to('<span>Início</span>'.html_safe, '/')%></li>
    <li><%= browse_people_menu %></li>
    <li><%= browse_communities_menu %></li>
    <li><a href="/profile/portal/events" id="submenu-events"><span class='icon-menu-events'><%= _('Events') %></span></a></li>
    <li><a href="/doc"><span><%= _('Manual') %></span></a></li>
    <li><a href="/portal/quem-somos" id="submenu-about"><span><%= _('About') %></span></a></li>
  </ul>
</div>
