<div id="friends">
<ul>
  <li><%= link_to(content_tag('span', '+'), '/portal') %></li>
  <li><%= link_to(content_tag('span', 'BR-Linux'), 'http://br-linux.org')%></li>
  <li><%= link_to(content_tag('span', 'Viva o Linux'), 'http://www.vivaolinux.com.br')%></li>
  <li><%= link_to(content_tag('span', 'Revista Espírito Livre'), 'http://www.revista.espiritolivre.org')%></li>
  <li><%= link_to(content_tag('span', 'Dicas-L'), 'http://www.dicas-l.com.br')%></li>
  <li><%= link_to(content_tag('span', 'Seja Livre'), 'http://www.sejalivre.org')%></li>
  <li><%= link_to(content_tag('span', 'Under Linux'), 'http://www.underlinux.com.br')%></li>
  <li><%= link_to(content_tag('span', 'Sempre Update'), 'http://www.sempreupdate.com.br')%></li>
</ul>
</div>
<div id="external-links">
<ul>
  <li><a id="blogoosfero" title="Blogoosfero" href="http://blogoosfero.cc/software-livre" target="_blank"><span>Blogoosfero</span></a></li>
  <li><a id="twitter" title="Twitter" href="https://twitter.com/PSLBrasil" target="_blank"><span>Twitter</span></a></li>
  <li><a id="diaspora" title="Diaspora" href="https://diaspora.softwarelivre.org/u/pslbrasil" target="_blank"><span>Diaspora</span></a></li>
  <li><a id="gnu-social" title="Quitter" href="https://quitter.se/pslbrasil" target="_blank"><span>Quitter</span></a></li>
  <li><a id="feed" title="Feed" href="http://softwarelivre.org/portal/feed"><span>Feed</span></a></li>
</ul>
</div>
