<div id="footer-links">
<ul id="slbr-footer">
<li><a href="http://softwarelivre.org" id="slbr" class="link-this-page"><span>Software Livre - Brasil</span></a></li>
<li><a href="/tv"><span>TV Software Livre</span></a></li>
<li><a href="/radio"><span>Rádio Software Livre</span></a></li>
</ul>
<ul id="conheca-footer"><h3>Conheça</h3>
<li><a href="/portal/quem-somos">Quem Somos</a></li>
<li><a href="/portal/termos-de-uso">Termos de Uso</a></li>
<li><a href="/doc">Documentação</a></li>
<li><a href="/contact/portal/new">Fale Conosco</a></li>
</ul>
<ul id="colabore-footer"><h3>Colabore</h3>
<li><b><a href="/myprofile/portal/cms/suggest_an_article">Sugerir um Artigo</a></b></li>
<li><a href="/portal/melhorias">Sugerir Melhorias</a></li>
<li><a href="/portal/bugs">Reportar um Bug</a></li>
<li><a href="/portal/desenvolvimento">Desenvolvimento</a></li>
</ul>
<ul id="compartilhe-footer"><h3>Compartilhe</h3>
<li><b><!-- AddToAny BEGIN -->
<a class="a2a_dd" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fsoftwarelivre.org&amp;linkname=SoftwareLivre.org">Compartilhar Isto!</a>
<script type="text/javascript">
var a2a_config = a2a_config || {};
a2a_config.linkname = "SoftwareLivre.org";
a2a_config.linkurl = "http://softwarelivre.org";
a2a_config.onclick = 1;
a2a_config.locale = "pt-BR";
a2a_config.num_services = 6;
a2a_config.prioritize = ["identi_ca", "twitter", "facebook", "google_buzz", "digg", "email"];
</script>
<script type="text/javascript" src="http://static.addtoany.com/menu/page.js"></script>
<!-- AddToAny END --></b></li>
<li><a href="/portal/eventos">Novos Eventos</a></li>
<li><a href="/portal/portfolio">Portfólio Livre</a></li>
<li><a href="/portal/divulgue">Páginas Amigas</a></li>
</ul>
<ul id="apoio-footer"><h3>Apoio</h3>
<li>
<a id="go-apoio" href="/portal/apoio" style="display: block; width: 130px; background-image: url(http://softwarelivre.org/portal/apoio.png); background-attachment: initial; background-origin: initial; background-clip: initial; background-color: initial; background-position: 0px 10px; background-repeat: initial initial; " onmouseover="goAPOIO.stop=true" onmouseout="APOIOCicle(true)"><span style="display:block; height:70px; background:url(/designs/themes/softwarelivre/imgs/mascara.png)"></span></a>
</li>
</ul>
</div><!-- end id="footer-links" -->
<div id="copyright">
  © Copyleft 2011 -
  <a id="link-asl" href="http://associacao.softwarelivre.org/" title="Associação SoftwareLivre.org">ASL</a> - Alguns direitos reservados, exceto quando especificado em contrário e nos conteúdos replicados de outras fontes.
  <p id="noosfero-license">Este site utiliza o software livre <a href="http://www.noosfero.org/" id="link-noosfero">Noosfero</a>, licenciado sob a licença
    <a href="http://www.gnu.org/licenses/agpl.html">GNU Affero General Public
    License</a>, versão 3 ou superior.  </p>
  <!-- Desenvolvido com
  <a href="http://noosfero.com.br"
     title="FLOSS for Social!">Noosfero</a-->
</div><!-- end id="copyright" -->
