<div id="friends">
  <a href="/portal/divulgue">+</a>
  <a href="http://br-linux.org" >BR-Linux</a>
  <a href="http://www.vivaolinux.com.br" >VivaoLinux</a>
  <a href="http://www.linuxsecurity.com.br" >LinuxSecurity</a>
  <a href="http://www.dicas-l.com.br" >Dicas-L</a>
  <a href="http://www.noticiaslinux.com.br" >NoticiasLinux</a>
  <a href="http://www.underlinux.com.br" >UnderLinux</a>
  <a href="http://www.bestlinux.com.br/" >BestLinux</a>
</div><!-- end id="friends" -->

