@import url(../base/style.css);

/* ==> button.css <== */


.button {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

#content input.button, #content a.button {
  background-repeat: no-repeat;
  background-color: #EEE;
  border: 1px solid #CCC;
  color: #555;
  line-height: 16px;
  height: 16px;
  text-decoration: none;
}

#content input.button.with-text, #content a.button.with-text {
  line-height: 20px;
  height: 20px;
}

input.button {
  max-height: 20px;
}
input.button.with-text {
  max-height: 22px;
}

#content input.button:hover, #content a.button:hover {
  color: #FFF;
  background-color: #7B3;
  border: 1px solid #380;
  text-decoration: none;
}

/* ==> layout.css <== */

body {
  background: #EEE url(imgs/footer-bg.png) 0% 100% repeat-x;
  font-family: Liberation Sans, Arial, sans-serif;
  width: 960px;
  margin: auto;
}

body, th, td, input {
  font-size: 12px;
}

#link-go-content {
  position: absolute;
  top: -100px;
}

#wrap-2 {
  padding: 10px;
  position: relative;
  border: 1px solid #d3d7cf;
  background-color: white;
}

#content {
  margin-top: 20px;
}

div.no-boxes,
#boxes {
  margin-top: 50px;
}

#profile-header {
  max-height: 220px;
  margin-left: -10px;
  overflow: visible;
}

/*************************** friends *********************************/

#friends {
  top: 3px;
  margin-left: 85px;
  position: absolute;
  padding: 0px;
  font-size: 10px;
  z-index: 10;
}

#friends a {
  margin-right: 2px;
  padding-right: 3px;
  border-right: 1px solid #CCC;
  color: #777;
  text-decoration: none;
}
#friends a:hover {
  color: #333;
  text-decoration: underline;
}

/*************************** user bar ********************************/

#user {
  color: #FFF;
  color: rgba(255,255,255,0.8);
  background: transparent;
  text-align: right;
  position: absolute;
  right: 0px;
  top: 14px;
  padding: 0 15px 0 0;
  z-index: 10;
}

#user #top-search {
  position: absolute;
  right: 0px;
  top: -34px;
}
#user #top-search input {
  border: none;
}
#user #top-search div {
  background: rgba(255,255,255,0.5);
  color: #000;
  margin-top: 1px;
  padding: 1px 4px;
}

#user a strong,
#user a {
  text-decoration: none;
  position: relative;
  color: #FFF;
  opacity: 0.9;
}

#user a:hover strong,
#user a:hover {
  color: #FFF;
  opacity: 1;
}

#controlpanel, #logout, #manage-enterprises {
  margin-left: 25px;
}
#manage-enterprises .simplemenu-trigger {
  text-decoration: underline;
}

#user a i {
  display: block;
  width: 16px;
  height: 16px;
  position: absolute;
  left: -17px;
  top: -1px;
}

#user .logged-in > * {
  margin-left: 25px;
}

.msie6 #user a i {
  left: 8px;
  top: 3px;
}
.msie7 #user a i {
  top: 3px;
}

#search-bar {
  position: absolute;
  text-align: right;
  right: 5px;
  top: 5px;
  z-index: 11;
}

#search-bar form {
  height: 35px;
  width: 200px;
  background: url(images/icons-bar.png) no-repeat;
  background-position: -140px -5px;
}

#search-bar form.focused,
#search-bar form:hover {
  background-position: -140px -40px;
}

#search-bar form input {
  width: 160px;
  height: 20px;
  border: 1px solid #BBB;
  padding-left: 5px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  color: #CCC;
}
#search-bar form.focused input {
  border: 1px solid #888;
  color: #555;
}

#search-bar form div {
  font-size: 11px;
  color: #FFF;
  margin-top: 5px;
  padding: 5px;
  visibility: hidden;
  text-align: center;
  background: #60AA00;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
#search-bar form.focused div {
  visibility: visible;
}

/*************************** logo ************************************/

#site-title {
  margin: 0px;
  padding: 0px;
  position: absolute;
  top: -20px;
  left: 0px;
  z-index: 7;
  overflow: hidden;
  width: 300px;
  height: 75px;
  background: url(images/logo-transparent.png) no-repeat;
}
.msie6 #site-title {
  left: -10px;
}
#site-title a {
  display: block;
  width: 300px;
  height: 35px;
  position: absolute;
  top: 20px;
  left: 0px;
}

#site-title span {
  font-size: 1px;
  position: absolute;
  top: -200px;
}

/************************** navigation bar ***************************/

#navigation {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 100%;
  text-align: right;
  background: #60AA00;
}

#navigation-end {
  display: none;
}

.msie6 #navigation {
  background: none;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader
          (src='imgs/menu-top-bg-left.png', sizingMethod='scale');
}

.msie6 #navigation-end {
  right: -1px;
  background: none;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader
          (src='imgs/menu-top-bg-right.png', sizingMethod='scale');
}

#navigation > ul {
  margin: 0px 0px 0px 350px;
  padding: 0px 10px 0px 0px;
  float: left;
}
#navigation > ul > li {
  margin: 0px 20px 0px 0px;
}

#navigation ul#main-menu {
  margin-left: 310px;
  height: 35px;
}

#navigation li {
  list-style: none;
  display: block;
  margin-top: 0px;
  margin-left: 5px;
  height: auto;
  width: 35px;
  float: left;
  text-align: center;
  position: relative;
}

#navigation a {
  border: none;
  display: block;
  font-size: 15px;
  text-decoration: none;
  color: #FFF;
  width: 35px;
}

#navigation a:hover {
  background: none;
  color: #edd400;
}

#navigation a#submenu-people {
  background: url(images/icons-bar.png) no-repeat;
  background-position: 0px 0px;
  height: 35px;
}

#navigation li:hover a#submenu-people {
  background-position: 0px -35px;
}

#navigation a#submenu-communities {
  background: url(images/icons-bar.png) no-repeat;
  background-position: -35px 0px;
  height: 35px;
}

#navigation li:hover a#submenu-communities {
  background-position: -35px -35px;
}

#navigation a#submenu-contents {
  background: url(images/icons-bar.png) no-repeat;
  background-position: -70px 0px;
  height: 35px;
}

#navigation li:hover a#submenu-contents {
  background-position: -70px -35px;
}

#navigation a#submenu-events {
  background: url(images/icons-bar.png) no-repeat;
  background-position: -105px 0px;
  height: 35px;
}

#navigation li:hover a#submenu-events {
  background-position: -105px -35px;
}

#navigation span {
  position: absolute;
  padding: 3px;
  margin: 0px;
  top: 37px;
  left: 30px;
  line-height: normal;
  font-size: 13px;
  background: none;
  z-index: 13;
  display: none;
}

#navigation #main-menu span.icon-menu-events {
  background: #60AA00;
  padding: 10px;
  top: 30px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  left:0px;
}

#navigation #main-menu li:hover a span { display: block; }

#navigation .menu-submenu ul, #navigation .menu-submenu li {
  float: none;
  border-left: 0px;
  height: 25px;
}

#navigation .menu-submenu ul {
  border: none;
  background-color: #60AA00;
  padding-right: 2px;
  height: auto;
  display: block;
  padding-top: 25px;
}

#navigation .menu-submenu {
  bottom: -75px;
  width: 180px;
  top: 0px;
  right: 0px;
  position: relative;
  z-index: 5;
}

#navigation .menu-submenu a {
  padding: 4px 5px;
  width: 129px;
  font-size: 12px;
  line-height: normal;
  border: 0;
  color: #FFF;
  text-align: left;
  padding-left: 40px;
}

.msie7 #navigation .menu-submenu a {
  width: 127px;
  margin-right: 2px;
  right: 2px;
}
	
#navigation .menu-submenu a:hover {
  color: #edd400;
  border: 0;
}

.msie7 .block .menu-submenu-trigger,
.msie7 #search-results .menu-submenu-trigger,
.msie7 #browse-results .menu-submenu-trigger {
  width: 20px !important;
}

#navigation li .menu-submenu-trigger {
  background: #60AA00 url(images/down-arrow-light.png) 15px center no-repeat;
  height: 30px;
  top: 32px;
  left: 0;
  border: none;
  width: 139px;
  z-index: 12;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

#navigation li .menu-submenu-trigger,
#navigation .menu-submenu-header,
#navigation .menu-submenu-footer,
#navigation .menu-submenu h4 {
  display: none;
  border: none;
}

#navigation li:hover .menu-submenu-trigger {
  display: block;
}

#navigation li:hover .menu-submenu-trigger:hover {
  background: #60AA00 url(images/down-arrow.png) 15px center no-repeat;
}

#navigation .menu-submenu-footer {
  display: block;
  width: 180px;
  background-image: none;
  background-color: #60AA00;
  height: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}


/***************************** boxes ********************************/

.template-default .box-1 { /* Center */
  position: relative;
  margin: 0px 200px 0px 200px;
}
.msie6.template-default .box-1 {
  width: expression( $("wrap-2").offsetWidth - 430 ); 640
}

.template-default .box-2 { /* Left */
  position: relative;
  width: 190px;
}

.template-default .box-3 { /* Right */
  position: relative;
  width: 190px;
}

/************************** main content *****************************/

#main-content-wrapper-1, #main-content-wrapper-2,
#main-content-wrapper-3, #main-content-wrapper-4,
#main-content-wrapper-5, #main-content-wrapper-6,
#main-content-wrapper-7, #main-content-wrapper-8 {
  position: relative;
}

#main-content-wrapper-1 { background: url(imgs/content-bg-N.png)  0%     0% repeat-x  }
#main-content-wrapper-2 { background: url(imgs/content-bg-S.png)  0%   100% repeat-x  }
#main-content-wrapper-3 { background: url(imgs/content-bg-L.png)  100%   0% repeat-y  }
#main-content-wrapper-4 { background: url(imgs/content-bg-O.png)  0%     0% repeat-y  }
#main-content-wrapper-5 { background: url(imgs/content-bg-NL.png) 100%   0% no-repeat }
#main-content-wrapper-6 { background: url(imgs/content-bg-NO.png) 0%     0% no-repeat }
#main-content-wrapper-7 { background: url(imgs/content-bg-SL.png) 100% 100% no-repeat }
#main-content-wrapper-8 { background: url(imgs/content-bg-SO.png) 0%   100% no-repeat }
#main-content-wrapper-8 {
  padding: 10px 20px;
}

#content .main-block h1 {
  font-variant: small-caps;
  color: #60AA00;
  font-size: 16px;
  text-align: left;
  border-bottom: 2px solid #008000;
}

/***************************** footer ********************************/

#theme-footer {
  padding: 70px 0px 0px 0px;
  font-size: 11px;
  color: #555;
  margin-top: -25px;
}

#theme-footer a {
  color: #333;
  text-decoration: none;
}
#theme-footer a:hover {
  color: #222;
  text-decoration: underline;
}

#footer-links {
  text-align: left;
  float: left;
}
#footer-links a {
  color: #555;
  margin-right: 8px;
}

#footer-links h3 {
  margin: 0px;
  padding: 0px;
  color: #dfdfdf;
  font-size: 17px;
  margin-left: -15px;
  margin-top: -10px;
}

#footer-links ul:hover h3 {
  color: #FFF;
}

#footer-links ul {
  margin: 10px;
  padding: 0;
  padding-right: 30px;
  float: left;
  display: block;
  list-style: none;
  border-right: 1px solid #dfdfdf;
}

#footer-links ul li {
  margin-bottom: 5px;
}

#footer-links a#slbr {
  display: block;
  float: left;
  background: url(imgs/lettering-slbr.png) 0% 50% no-repeat;
  max-width: 202px;
  width: 202px;
  height: 40px;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  position: relative;
  top: -10px
}

#slbr span {
  position: absolute;
  top: -100px;
}

ul#slbr-footer {
  display: block;
  width: 250px;
  padding-right: 0px;
}

#slbr-footer a {
  color: #dfdfdf;
}

#slbr-footer a:hover {
  color: #FFF;
  text-decoration: none;
}

ul#apoio-footer {
  border-right: none;
  border: none;
}

ul#apoio-footer li {
  padding: 10px;
}

#slbr-footer li {
  float: left;
  padding: 5px;
  margin: 0px;
}

#copyright {
  height: 60px;
  text-align: right;
  clear: both;
}

#noosfero-license {
  margin-bottom: 1em;
}

div.no_media_panel {
  margin: 0px;
}

div#notice {
  right: 50%;
  margin-right: -470px;
}

/* ==> blocks.css <== */

.block a {
  color: #60AA00;
}
.block a:visited {
  color: #7A4;
  font-weight: normal;
}
.block a:hover {
  color: #260;
  text-decoration: underline;
}


#content .block {
  padding: 0px;
  margin: 0px 0px 20px 0px;
  position: relative;
}


#content .block-title {
  font-variant: small-caps;
  color: #60AA00;
  font-size: 14px;
  text-align: left;
  border-bottom: 2px solid #008000;
}

/*************************** Login block *****************************/

.login-box {
  padding: 0px;
  font-size: 10px;
}

#content .login-box-content a.button {
  font-size: 11px;
}

.login-box-content {
  margin: 0px;
  border: none;
  background: none;
  padding: 0px;
}

.login-box-content .button-bar .button {
  position: relative;
}

.login-box .formfieldline input {
  width: 99%;
}

.login-box form {
  margin: 0px;
  padding: 0px 0px 0px 0px;
}
.msie7 .login-box form {
  padding: 0px 10px 0px 0px;
}

#content .login-block h2 {
  font-variant: small-caps;
  color: #60AA00;
  font-size: 14px;
  text-align: left;
  border-bottom: 2px solid #008000;
}

.login-box p {
  text-align: center;
  margin: 0px;
  padding: 0px;
}

.login-box .forgot-passwd a {
  color: #60AA00;
}

.want-to-be-an-user {
  font-size: 13px;
}

#content .logged-user-info h2 {
  font-size: none;
}

.logged-user-info ul {
  margin-top: 5px;
}

.logged-user-info .user-actions {
  padding-left: 50px;
}


/************************** Profile List *****************************/

#content .people-block ul,
#content .profile-list-block ul,
#content .enterprises-block ul,
#content .members-block ul,
#content .communities-block ul,
#content .friends-block ul {
  min-width: 196px;
  width: 192px;
  margin: 0px 0px 0px -3px;
  padding: 0px;
}

#content .tags-block .block-footer-content a,
#content .people-block .block-footer-content a,
#content .profile-list-block .block-footer-content a,
#content .enterprises-block .block-footer-content a,
#content .members-block .block-footer-content a,
#content .communities-block .block-footer-content a,
#content .friends-block .block-footer-content a {
  position: absolute;
  top: 2px;
  right: 0px;
  font-size: 11px;
  color: #000;
  text-decoration: none;
  padding-right: 15px;
  background: url(imgs/arrow-right-p.png) 100% 50% no-repeat;
}

#content .profile-list-block .block-title {
  text-align: left;
}

#content .profile-list li a,
#content .common-profile-list-block li a {
  color: #555;
}
#content .profile-list li a:hover,
#content .common-profile-list-block li a:hover {
  color: #000;
  text-decoration: none;
}

/************************* Recent Contents ***************************/

#content .feed-reader-block,
#content .recent-documents-block {
  overflow: hidden;
}

.feed-reader-block li,
.recent-documents-block li {
  list-style-image: url(imgs/li-recent.gif);
  padding: 5px 0px;
}

.feed-reader-block li a,
.recent-documents-block li a {
  font-weight: bold;
}

.feed-reader-block li a:visited,
.recent-documents-block li a:visited {
  font-weight: normal;
}

.feed-reader-block li a:hover,
.recent-documents-block li a:hover {
  text-decoration: underline;
}

/************************* Profile Image *****************************/

#content .profile-image-block {
  width: 170px;
  margin-left: 20px;
  padding-top: 2px;
}
.profile-big-image-inner1 {
}

.profile-big-image {
  margin: 0px;
}
.profile-big-image img {
  border: none;
  padding: 0px;
}

.profile-image-block p {
  margin: 0px;
  font-size: 17px;
  font-weight: bold;
  color: #555;
}


/*************************** My Network ******************************/

#content .block.my-network-block {
  margin: 0px 0px 10px 0px;
}

.my-network-block ul {
  margin: 0px;
  padding: 0px 0px 10px 20px;
}
.my-network-block li {
  margin: 0px;
  padding: 0px;
  list-style: none;
}


/*************************** Link List *******************************/

.link-list-block .empty {
  display: none;
}

#content .link-list-block li {
  background: #FFF;
  padding: 0px;
  margin: 5px 0px;
}

#content .link-list-block li a {
  font-size: 14px;
  line-height: 24px;
  color: #000;
  background-color: #EEE;
  background-position: 4px 50%;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

#content .link-list-block li a.link-this-page {
  -moz-border-radius-topright: 0px;
  -webkit-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 0px;
  -webkit-border-radius-bottomright: 0px;
  background-color: #60AA00;
  max-width: 165px;
  width: 165px;
  border-right: 2px solid #60AA00;
}

#content .link-list-block li a:hover {
  background-color: #60AA00;
  color: #FFF;
  text-decoration: none;
}
#content .link-list-block li a.link-this-page:hover {
  border-right: 2px solid #460;
}


/************************** Communities ******************************/

#content .communities-block .block-title {
  color: #60AA00;
  border-bottom: 2px solid #008000;
}

.communities-block .profile-image {
  float: left;
  padding-left: 4px;
  max-width: 70px;
  width: 75px;
  height: auto;
}

.communities-block .vcard a {
  clear: left;
  text-align: left;
  padding-bottom: 3px;
  width: 99%;
  height: auto;
}
.msie6 .communities-block .common-profile-list-block .vcard a,
.msie7 .communities-block .common-profile-list-block .vcard a {
  height: auto;
  width: 99%;
  padding-bottom: 1px;
}

.communities-block .vcard a .org {
  color: #000;
  max-height: 30px;
  overflow: hidden;
}
.msie .communities-block .vcard a .org {
  height: 30px;
}

.communities-block .vcard a .may-clear {
  clear: left;
}

/****************************** Tags *********************************/

/* the style here is not only for #content .tags-block .tag_cloud */

.tag_cloud {
  text-align: center;
}

.tag_cloud a {
  text-decoration: none;
}

.tag_cloud a small {
  opacity: 0.5;
  filter:alpha(opacity=50);
}

/********************* Environment Statistics ************************/

#content .environment-statistics-block .block-title {
  color: #AAA;
  border-bottom: 2px solid #AAA;
}
#content .environment-statistics-block ul {
  margin: 0px 20px;
  padding: 0px;
}
#content .environment-statistics-block li {
  list-style-image: url(imgs/li-gray.gif);
  padding: 3px 0px;
  color: #777
}

/*************************** News Area *******************************/

.action-home-index #content h1 {
  color: #05A;
  border-bottom: 2px solid #47B;
}

.highlighted-news-item {
  border-top: 1px solid #CCC;
  padding-top: 5px;
}
.highlighted-news-item.post-1 {
  border: none;
  padding-top: 0px;
}

#highlighted-news h2 a {
  font-weight: bold;
  color: #05A;
}

.news-area {
  border: none;
  background: #FFF;
  height: auto;
  position: relative;
}

.news-area ul {
  border: 1px solid #CCC;
  border-top: 2px solid #07C;
  height: 125px;
  overflow: auto;
  margin: 0px;
  padding: 5px 10px;
  background: url(imgs/comment-bg-S.png) 0% 100% repeat-x;
  border-bottom: none;
}

.news-area li {
  margin-left: 15px;
  padding: 0px 0px;
  list-style-image: url(imgs/li-blue.gif);
}

#content .news-area h3 a {
  font-weight: bold;
  color: #05A;
}
#content .news-area h3 a:hover {
  text-decoration: none;
}

#content .news-area h3 {
  background: #FFF;
  margin: 0px;
  padding: 0px;
}

#content .news-area a {
   color: #000;
}

#content .news-area a.news-see-more {
  position: absolute;
  top: 3px;
  right: 0px;

  color: #000;
  padding-right: 10px;
  background: url(imgs/arrow-right-p.png) 100% 50% no-repeat;
}

#content .news-area a.news-see-more:hover {
  text-decoration: none;
  color: #07C;
}

#portal-news ul {
  padding: 0px;
  border-top: 1px solid #CCC;
}
#portal-news li {
  list-style: none;
  padding: 8px 0px;
  border-bottom: 1px solid #CCC;
}
#portal-news li a {
  font-weight: bold;
  color: #05A;
}
#portal-news .post-date, #highlighted-news .post-date {
  color: #68A;
}

#portal-news .post-date {
  float: left;
}
#portal-news .post-title {
  display: block;
  margin-left: 65px;
}

#highlighted-news .post-title {
  font-weight: bold;
  font-size: 20px;
}
#highlighted-news h2 {
  margin-bottom: 0px;
}

X.sep {
  background: url(imgs/blog-sep.png) 50% 50% repeat-x;
  padding: 10px 20px;
  margin: 10px -19px;
}

/* ==> search-results.css <== */


.msie .search-results-box {
  width: 48%;
}

#content .no-boxes h1 {
  font-variant: small-caps;
  color: #05B; /*6A0*/
  font-size: 18px;
  text-align: left;
  border-bottom: 2px solid #08C; /*8C0*/
}

.query {
  display: none;
}

.controller-search #content .search_form {
  background: #DDD;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 12px 15px 13px 15px;
  position: relative;
  text-align: left;
}

#advanced_search_link {
  position: absolute;
  top: 15px;
  right: 20px;
  background: url(imgs/arrow-down-p.png) 100% 55% no-repeat;
  padding-right: 15px;
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

.controller-search #content .search_form h3 {
  display: none;
  /*
  color: #AAA;
  margin: 0px;
  */
}

.controller-search #content .search_form h4 {
  background: #DDD;
  color: #777;
}
.controller-search .search-options {
  border: 1px solid #777;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
.controller-search .search-options ul li {
  position: relative;
}

.controller-search .search-within select {
  display: block;
  margin-bottom: 5px;
}

.controller-search .search-within label {
  display: block;
  float: left;
  width: 100px;
  text-align: right;
  padding-right: 10px;
  position: relative;
  top: 5px;
}

a {
  color: #60AA00;
}

#search-results h3 {
  color: #05B; /*6A0*/
  font-variant: small-caps;
  margin: 0px;
}

.search-results-innerbox {
  border: 1px solid #CCC;
  border-top: 2px solid #08C; /*8C0*/
  border-bottom: none;
  background: url(imgs/comment-bg-S.png) 0% 100% repeat-x;
}
.only-one-result-box .search-results-innerbox {
  border-top: 1px solid #CCC;
}

#content .search-results-box a.see-more {
  z-index: 10;
  position: absolute;
  bottom: 20px;
  right: 20px;
  background: transparent url(imgs/arrow-right-p.png) 100% 55% no-repeat;
  border: none;
  padding-right: 15px;
  color: #000;
  text-decoration: none;
  font-weight: bold;
}
#content .search-results-box a.see-more:hover {
  background: transparent url(imgs/arrow-right-p.png) 100% 55% no-repeat;
  color: #08C;
}


.search-results-type-article.search-results-innerbox {
  padding: 5px 0px 5px 10px;
  max-height: 215px;
  height: 225px;
}

#content .search-results-type-article li {
  padding: 5px 0px;
}

.search-results-type-article a {
  text-decoration: none;
}
.search-results-type-article a:hover {
  text-decoration: underline;
}

/* ==> article.css <== */

#article a {
  text-decoration: underline;
}

hr.pre-posts, hr.sep-posts {
  display: none;
}

.blog-post {
  background: url(imgs/blog-sep.png) repeat-x;
  padding: 15px 20px 5px 20px;
  margin: 0px -19px;
}

#article-actions {
  margin-left: -5px;
}

#article-actions a.button,
#article-actions a.button:hover {
  border: none;
  background-color: transparent;
  color: #888;
}
#article-actions a.button:hover {
  color: #4B0;
}

#addThis {
  text-align: right;
}

#content .blog-post .title {
  border-bottom-color: #CCC;
}
#content .blog-post .title a {
  font-weight: bold;
  color: #000;
  text-decoration: none;
}

#content .main-block .created-at {
  text-align: left;
  color: #AAA;
}
#content .main-block .created-at a {
  color: #AAA;
  text-decoration: none;
}
#content .main-block .created-at a:hover {
  color: #555;
  text-decoration: underline;
}

#article-tags {
  float: right;
  color: #FFF;
}
#article-tags a {
  text-decoration: none;
  padding: 0px 2px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background: #BBB;
  color: #FFF;
}
#article-tags a:hover {
  background: #60AA00;
}

#article-hits {
  text-align: left;
  color: #AAA;
}

.msie .post_comment_box {
  padding-top: 15px;
}

.post_comment_box.closed h4 {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

.post_comment_box.opened h4 {
  display: block;
  background: #FFF;
  padding: 0px;
  font-variant: small-caps;
  color: #60AA00;
  font-size: 14px;
  text-align: left;
  border-bottom: 2px solid #008000;
}

.post_comment_box.opened {
  border: none;
  background: #FFF;
}


/**************************** Comments *******************************/

#content .comments h3 {
  font-variant: small-caps;
  color: #60AA00;
  font-size: 14px;
  text-align: left;
  border-bottom: 2px solid #008000;
}

.article-comment {
  border: none;
  background: #FFF;
}

.comment-logged-out h4 {
  color: #888;
}

#content .comment-picture {
  text-align: left;
  text-decoration: none;
  position: relative;
}

.comment-wrapper-1 {
  margin-left: 60px;
  background: url(imgs/comment-bg-N.png)    0%   0% repeat-x;
}
.comment-wrapper-2 {
  background: url(imgs/comment-bg-S.png)    0% 100% repeat-x;
}
.comment-wrapper-3 {
  background: url(imgs/comment-bg-L.png)  100%   0% repeat-y;
}
.comment-wrapper-4 {
  background: url(imgs/comment-bg-O.png)    0%   0% repeat-y;
}
.comment-wrapper-5 {
  background: url(imgs/comment-bg-SL.png) 100% 100% no-repeat;
}
.comment-wrapper-6 {
  background: url(imgs/comment-bg-SO.png)   0% 100% no-repeat;
}
.comment-wrapper-7 {
  background: url(imgs/comment-bg-NL.png) 100%   0% no-repeat;
}
.comment-wrapper-8 {
  background: url(imgs/comment-bg-NO.png)   0%   0% no-repeat;
}

.comment-created-at {
  position: relative;
  padding-right: 10px;
}
.comment-from-owner .comment-created-at {
  color: #77b100;
}


.article-comment .button-bar {
  position: relative;
  top: 3px;
  right: 1px;
  z-index: 10px;
}
.article-comment .button-bar a {
  position: relative;
}

.comment-details {
  margin: 0px;
  padding: 7px 12px 3px 26px;
}

/************* uploaded file *****************/

#article .title .back-to-gallery {
   padding-right: 15px;
   background: url(imgs/arrow-up-p.png) 100% 50% no-repeat;
}

/* ==> controllers.css <== */

/******** controller-friends action-friends-index ********/

.action-friends-index .profile-list li,
.common-profile-list-block .vcard a {
  border: 1px solid transparent;
}

.action-friends-index .profile-list li:hover,
.common-profile-list-block .vcard a:hover {
  border: 1px solid #CCC;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background: #EEE;
  text-decoration: none;
}


/******** controller-profile action-profile-index ********/

table.profile th {
  font-size: 15px;
  text-align: left;
}

/**** controller-memberships action-memberships-index ****/

#memberships-index li {
  background-color: #FFF;
  border: 1px solid #EEE;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  margin-bottom: 10px;
}

#memberships-index li .vcard a.profile_link.url {
  border: 1px solid transparent;
  background-color: #FFF;
}

#memberships-index li .vcard a.profile_link.url:hover {
  border: 1px solid  #CCC;
  background-color: #EEE;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

/************************** Control Panel ****************************/

.control-panel a,
.control-panel a:visited{
  color: #000;
  font-weight: bold;
  background-position: 2px 50%;
}
.control-panel a:hover{
  text-decoration: none;
  color: #FFF;
  background-color: #6B0;
}


/* * * Controller events * * * * * * * * * * * * * * * * * * * */

.controller-events #content h1 {
   text-align: center;
}

/************************** Highlights block ****************************/

.highlights-image-link:hover {
  text-decoration: none;
}

/************************** Profile balloon ****************************/

.action-friends-index .profile-list li,
.common-profile-list-block .vcard {
  border: 1px solid transparent;
}

.action-friends-index .profile-list li:hover,
.common-profile-list-block .vcard:hover {
  border: 1px solid #CCC;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background: #EEE;
  text-decoration: none;
}

.common-profile-list-block .vcard a,
.common-profile-list-block .vcard a:hover {
  background: transparent;
  border: 0;
}

.browse-results-innerbox ul {
  padding:0;
}

.controller-browse #content .search_form {
  background: #ddd;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  padding: 12px 15px;
}

/* Comment balloon */

.comment-from-owner .comment-wrapper-1 {
  background-color: #d4edc8;
	background-image: url(images/comment-owner-bg-N.png);
}
.comment-from-owner .comment-wrapper-2 { background-image: url(images/comment-owner-bg-S.png); }
.comment-from-owner .comment-wrapper-3 { background-image: url(images/comment-owner-bg-L.png); }
.comment-from-owner .comment-wrapper-4 { background-image: url(images/comment-owner-bg-O.png); }
.comment-from-owner .comment-wrapper-5 { background-image: url(images/comment-owner-bg-SL.png); }
.comment-from-owner .comment-wrapper-6 { background-image: url(images/comment-owner-bg-SO.png); }
.comment-from-owner .comment-wrapper-7 { background-image: url(images/comment-owner-bg-NL.png); }
.comment-from-owner .comment-wrapper-8 { background-image: url(images/comment-owner-bg-NO.png); }
.comment-replies .comment-from-owner.comment-content {
  background-image: url(images/comment-reply-owner-bg.png);
}

/*********** slideshow initial page *****************/

.controller-home .highlights-container, .controller-home .highlights-image-link {
  height: 150px !important;
}
.controller-home p.highlights-label {
  display: none;
}
.controller-home .highlights-block {
  height: 150px;
}
